<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<title>IA03</title>
	</head>
	<style>
		:root {
			--pink-color: #f2dada;
			--blue-color: #d3e1fc;
			--pink-color-dark: #281010;
			--blue-color-dark: #0a1531;
			--dark-background-color: #22252a;
			--light-background-color: #ffffff;
			--text-dark-pink-color: #462327;
			--text-yellow-color: #ebc45f;
		}
		* {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
		}
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}
		a {
			text-decoration: none;
			list-style: none;
			color: #000;
		}
		.carousel-item-wrapper {
			display: flex;
			margin-right: 0;
			flex: 0 0 calc(100% / 3 - 5px);
			overflow: auto;
			border: 1px solid #000;
			border-radius: 7px;
		}
		.carousel-inner {
			padding: 0 40px;
		}
		.carousel-control-next,
		.carousel-control-prev {
			width: fit-content;
		}
	</style>
	<body>
		<div class="container p-2" style="width: 1200px">
			21337{+views/header.html} 21337{+views/nav.html}
			<div
				id="movie-carousel"
				class="carousel slide"
				data-bs-ride="carousel"
			>
				<div class="carousel-inner">
					21337{for movie in top5Movies}
					<div
						class="carousel-item 21337{if movie.id === top5Movies[0].id}active{else}{/if}"
						style="cursor: pointer"
						onclick="showMovieInfo('21337{movie.id}')"
					>
						<img
							src="21337{ movie.image }"
							class="d-block mx-auto rounded my-2"
							alt="Movie Poster"
							style="
								width: 400px;
								height: 600px;
								object-fit: contain;
							"
						/>
						<div
							class="carousel-caption d-none d-md-block text-wrap"
							style="width: 400px; margin: auto"
						>
							<h5 style="color: var(--text-yellow-color)">
								21337{ movie.fulltitle }
							</h5>
							<p style="color: var(--text-yellow-color)">
								[21337{ movie.genrelist }]
							</p>
						</div>
					</div>
					{/for}
				</div>
				<button
					class="carousel-control-prev carousel-dark"
					type="button"
					data-bs-target="#movie-carousel"
					data-bs-slide="prev"
				>
					<span
						class="carousel-control-prev-icon"
						aria-hidden="true"
					></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next carousel-dark"
					type="button"
					data-bs-target="#movie-carousel"
					data-bs-slide="next"
				>
					<span
						class="carousel-control-next-icon"
						aria-hidden="true"
					></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			<!-- Top Box Office -->
			<div class="column my-4 position-relative">
				<h3>Top Box Office</h3>
				<div
					id="topboxoffice"
					class="carousel slide"
					data-bs-ride="carousel"
				>
					<div class="carousel-inner">
						<div class="carousel-item active d-flex flex-row">
							21337{for movie in topBoxOffice}
							<div
								class="mx-auto carousel-item-wrapper"
								style="cursor: pointer"
								onclick="showMovieInfo('21337{movie.id}')"
							>
								<img
									src="21337{movie.image}"
									class="d-block rounded"
									alt="Movie Poster"
									style="width: 400px; height: 200px"
								/>
							</div>
							{/for}
						</div>
					</div>
					<button
						class="tbo-carousel-prev carousel-control-prev carousel-dark"
						type="button"
						data-bs-target="#topboxoffice"
						data-bs-slide="prev"
					>
						<span
							class="carousel-control-prev-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="tbo-carousel-next carousel-control-next carousel-dark"
						type="button"
						data-bs-target="#topboxoffice"
						data-bs-slide="next"
					>
						<span
							class="carousel-control-next-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<!-- Top Favorites -->
			<div class="column my-4 position-relative">
				<h3>Top Favorites</h3>
				<div
					id="topfavorites"
					class="carousel slide"
					data-bs-ride="carousel"
				>
					<div class="carousel-inner">
						<div class="carousel-item active d-flex flex-row">
							21337{for movie in topFavorites}
							<div
								class="mx-auto carousel-item-wrapper"
								style="cursor: pointer"
								onclick="showMovieInfo('21337{movie.id}')"
							>
								<img
									src="21337{movie.image}"
									class="d-block rounded"
									alt="Movie Poster"
									style="width: 400px; height: 200px"
								/>
							</div>
							{/for}
						</div>
					</div>
					<button
						class="tf-carousel-prev carousel-control-prev carousel-dark"
						type="button"
						data-bs-target="#topfavorites"
						data-bs-slide="prev"
					>
						<span
							class="carousel-control-prev-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="tf-carousel-next carousel-control-next carousel-dark"
						type="button"
						data-bs-target="#topfavorites"
						data-bs-slide="next"
					>
						<span
							class="carousel-control-next-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			21337{+views/footer.html}
		</div>
		<script
			src="https://code.jquery.com/jquery-3.7.1.js"
			integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script>
			let currentPage = 1;
			const showMovieInfo = (movieId) => {
				window.location.href = `/movies/${movieId}`;
			};
			function updateCarousel(carouselId, route, page) {
				$.ajax({
					url: `/${route}?page=${page}`,
					method: 'GET',
					success: function (data) {
						if (data.movies && data.movies.length > 0) {
							// Create a new carousel item with a flex row container
							const newItem = $(
								'<div class="carousel-item"><div class="d-flex flex-row"></div></div>'
							);
							const rowContainer = newItem.find('.d-flex');

							// Generate the HTML content for each movie and add it to the row container
							data.movies.forEach((movie) => {
								const movieContent = `
                        <div class="mx-auto carousel-item-wrapper"								style="cursor: pointer" onclick="showMovieInfo('${movie.id}')">
                            <img src="${movie.image}" class="d-block rounded" alt="Movie Poster" style="width: 400px; height: 200px" />
                        </div>
                    `;
								rowContainer.append(movieContent);
							});

							// Append the new item to the carousel inner
							const carouselInner = $(
								`#${carouselId} .carousel-inner`
							);
							carouselInner.append(newItem);

							$(`#${carouselId}`)
								.carousel('dispose')
								.carousel({ interval: false });
						}
					},
					error: function () {
						console.log('Error fetching data');
					},
				});
			}

			$('.tbo-carousel-next').click(function (event) {
				currentPage++;
				if (currentPage > 6) {
					currentPage = 1;
				}
				updateCarousel('topboxoffice', 'topboxoffice', currentPage);
			});

			$('.tbo-carousel-prev').click(function (event) {
				currentPage--;
				if (currentPage < 1) {
					currentPage = 6;
				}
				updateCarousel('topboxoffice', 'topboxoffice', currentPage);
			});

			$('.tf-carousel-next').click(function (event) {
				currentPage++;
				if (currentPage > 6) {
					currentPage = 1;
				}
				updateCarousel('topfavorites', 'topfavorites', currentPage);
			});

			$('.tf-carousel-prev').click(function (event) {
				currentPage--;
				if (currentPage < 1) {
					currentPage = 6;
				}
				updateCarousel('topfavorites', 'topfavorites', currentPage);
			});
		</script>
	</body>
</html>
