<nav
	id="navbar"
	class="navbar navbar-light rounded"
	style="background-color: var(--blue-color-dark); border: 1px solid #283655"
>
	<div class="container-fluid">
		<a href="/">
			<i class="fa-solid fa-house text-light"></i>
		</a>
		<form class="d-flex">
			<input
				class="form-control me-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
				id="searchInput"
				style="
					background-color: var(--dark-background-color);
					border: 1px solid #aaa;
					color: #fff;
				"
			/>
			<button class="btn btn-outline-success" type="submit">
				Search
			</button>
		</form>
	</div>
</nav>
