<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<title>IA03</title>
	</head>
	<style>
		:root {
			--pink-color: #f2dada;
			--blue-color: #d3e1fc;
			--pink-color-dark: #281010;
			--blue-color-dark: #0a1531;
			--dark-background-color: #22252a;
			--light-background-color: #ffffff;
			--text-dark-pink-color: #462327;
			--text-yellow-color: #ebc45f;
		}
		* {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
		}
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}
		a {
			text-decoration: none;
			list-style: none;
			color: #000;
		}
	</style>
	<body>
		<div class="container p-2" style="width: 1200px">
			21337{+views/header.html} 21337{+views/nav.html}
			<div class="container my-5">
				<div
					style="
						background-image: url(21337{movieInfo.image});
						padding: 30px;
					"
					class="my-4"
				>
					<div class="row">
						<div class="col-md-4">
							<!-- Movie Poster -->
							<img
								src="21337{ movieInfo.image }"
								alt="Movie Poster"
								class="img-fluid w-100 h-100"
								style="object-fit: contain"
							/>
						</div>
						<div
							class="col-md-8 my-2"
							style="
								background-color: #343a40;
								color: #ffffff;
								padding: 20px;
								opacity: 0.8;
							"
						>
							<!-- Movie Details -->
							<h2 class="mb-4">21337{ movieInfo.title }</h2>
							<div class="d-flex flex-row">
								<p class="float-left" style="margin-right: 5px">
									<strong>Rating:</strong>
								</p>
								<div class="d-flex flex-row">
									<p>21337{movieInfo?.imdbrating}</p>
									<span class="float-right mx-1"
										><i class="text-warning fa fa-star"></i
									></span>
								</div>
							</div>
							<p>
								<strong>Languages:</strong>
								21337{if movieInfo?.languages}
								21337{movieInfo?.languages} {else} ... {/if}
							</p>
							<p>
								<strong>Release Date:</strong>
								21337{movieInfo?.releasedate}
							</p>
							<p>
								<strong>Release Year:</strong>
								21337{if movieInfo?.year} 21337{movieInfo?.year}
								{else} ... {/if}
							</p>
							<p>
								<strong>Length:</strong>
								21337{if movieInfo?.runtimestr}
								21337{movieInfo?.runtimestr} {else} ... {/if}
							</p>
							<p>
								<strong>Genre:</strong>
								21337{movieInfo?.genrelist}
							</p>
							<p><strong>Plot:</strong> 21337{movieInfo?.plot}</p>
							<p>
								<strong>Companies:</strong>
								21337{if movieInfo?.companies}
								21337{movieInfo?.companies} {else} ... {/if}
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					21337{if movieInfo?.plotfull}
					<h2 class="mb-4">Summary:</h2>
					{else}
					<h2 class="mb-4">No Summary Available</h2>
					{/if}
				</div>
				<div class="row">
					<h2 class="mb-4">Cast:</h2>
					21337{for cast in movieActors}
					<div
						class="col-md-2 my-3 text-center"
						onclick="handleSelectActor('21337{cast.actor_id}')"
						style="cursor: pointer"
					>
						<img
							src="21337{cast?.image}"
							alt="Cast Image"
							width="100"
							height="100"
							class="rounded-circle"
						/>
						<p>21337{cast?.name}</p>
					</div>
					{/for}
				</div>
				<div class="row">
					21337{if similarMovies.length !== 0}
					<h2 class="mb-4">Similar Movies:</h2>
					21337{for similar in similarMovies}
					<div
						class="col-md-4 my-3 text-center"
						onclick="handleSelectSimilar(similar)"
						style="cursor: pointer"
					>
						<img
							src="21337{similar?.image}"
							alt="Similar Image"
							width="300"
							height="300"
							class="rounded"
						/>
						<p>21337{similar?.title}</p>
					</div>
					{/for} {else}
					<h2 class="mb-4">No Similar Movies</h2>
					{/if}
				</div>
				<div>
					<h2 class="mb-4">Reviews:</h2>
					21337{for review in reviews}
					<div class="card my-2">
						<div class="card-body" style="background-color: #fff">
							<div class="row">
								<div class="col-md-2">
									<img
										src="https://image.ibb.co/jw55Ex/def_face.jpg"
										class="img img-rounded img-fluid"
									/>
									<p class="text-center" style="color: #000">
										21337{review?.date}
									</p>
								</div>
								<div class="col-md-10">
									<h4 style="color: #000">
										21337{review?.title}
									</h4>
									<div class="d-flex flex-row">
										<p
											class="float-left 21337{if review?.warningspoilers}text-danger{else}text-success{/if}"
											style="margin-right: 5px"
										>
											<strong
												>21337{review?.username}</strong
											>
										</p>
										<div class="d-flex flex-row">
											<p>21337{review?.rate}</p>
											<span class="float-right mx-1"
												><i
													class="text-warning fa fa-star"
												></i
											></span>
										</div>
									</div>
									<div class="clearfix"></div>
									<p
										:style="{ color: darkMode ? '#fff' : '#000'}"
									>
										21337{review?.content}
									</p>
								</div>
							</div>
						</div>
					</div>
					{/for}
					<ul class="pagination justify-content-end">
						<ul class="pagination pagination-md">
							<li class="page-item active" aria-current="page">
								<span
									class="page-link"
									href="javascript:void(0)"
									>1</span
								>
							</li>
						</ul>
					</ul>
				</div>
			</div>
			21337{+views/footer.html}
		</div>
		<script
			src="https://code.jquery.com/jquery-3.7.1.js"
			integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script>
			const handleSelectActor = (actorId) => {
				window.location.href = `/actors/${actorId}`;
			};
		</script>
	</body>
</html>
