<h3>Top Box Office</h3>
<div class="column my-4 position-relative">
	<div id="topboxoffice" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner" id="three-carousel-inner">
			<div
				class="carousel-item active d-flex flex-row"
				style="cursor: pointer"
			>
				<div class="mx-auto carousel-item-wrapper">
					<img
						src="21337{movie.image}"
						class="d-block rounded"
						alt="Movie Poster"
						style="width: 400px; height: 200px"
					/>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev carousel-dark"
			type="button"
			data-bs-target="#topboxoffice"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next carousel-dark"
			type="button"
			data-bs-target="#topboxoffice"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<script>
	fetch('/movies/topboxoffice')
		.then((res) => res.json())
		.then((data) => {
			console.log('Fetched movies:', data);
			// Rest of your code to handle the data
		})
		.catch((err) => {
			console.error('Error fetching movies:', err);
		});
</script>
